{% extends 'base.html' %}

{% load static %}

{% block content %}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                {% for recipe in recipes %}
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>{{recipe.title}}</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text"><a href="/recipe/{{recipe.title}}">{{recipe.title}}</a></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if request.user == recipe.author %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'update-recipe' recipe.title %}">Edit</a></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'delete-recipe' recipe.title %}">Delete</a></button>
                                    {% else %}
                                    <small class="text-muted">Serves: {{recipe.servings}} |</small>
                                    <small class="text-muted">| Difficulty: {{recipe.difficulty}}</small>
                                    {% endif %}
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

</main>
<h1>Home</h1>

<h4>Search from over {{recipe_count}} recipes!</h4>

<img src="{% static 'images/food.jpg' %}" alt="A table full of food.">

<a href="{% url 'create-recipe' %}">Create Recipe</a>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for recipe in recipes %}
            <div class="card">
                {% if request.user == recipe.author %}
                <a href="{% url 'update-recipe' recipe.title %}">Update Recipe</a>
                <a href="{% url 'delete-recipe' recipe.title %}">Delete Recipe</a>
                {% endif %}
                <h5><a href="/recipe/{{recipe.title}}">{{recipe.title}}</a></h5>
                <span>By {{recipe.author.username}}</span>
                {% for topic in recipe.topic.all %}
                <span>{{topic.name}}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}