{% extends 'base.html' %}


{% block content %}
<h1>Home</h1>

<a href="{% url 'create-recipe' %}">Create Recipe</a>

<div class="container">
    <div class="row">
        <div class="col-8">
            {% for recipe in recipes %}
            <div class="card">
                <a href="{% url 'update-recipe' recipe.title %}">Update Recipe</a>
                <h5><a href="/recipe/{{recipe.title}}">{{recipe.title}}</a></h5>
                <span>By {{recipe.author.username}}</span>
                <span>{{recipe.topic.name}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}