{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Carousel-->
<section class="container mx-auto">
    <div class="row p-3 p-md-5 text-center carousel-container">
        <div class="col-12 mx-auto">
            <div id="carouselExampleCaptions" class="carousel carousel-fade slide" data-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-image-1 active">
                        <div class="d-block w-100" alt="..."></div>
                        <div class="carousel-caption">
                            <h5>Welcome to Recipeasy!</h5>
                            <p>Share and browse recipies with other users to inspire and develop your cooking
                                skills.</p>
                        </div>
                    </div>
                    <div class="carousel-item carousel-image-2">
                        <div class="carousel-caption">
                            <h5>Crying Tiger Salad</h5>
                            <p>This week we're featuring this stunning new recipe, click <a href="#">here</a> to read
                                more.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item carousel-image-3">
                        <div class="carousel-caption p-1">
                            <h5>Coming Soon:<br>Better Baking with Brad</h5>
                            <p>Next week we're going to be publishing our first article, starting with some baking tips
                                from our good friend Brad who will help 'raise' your baking to the next level.
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-button carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-button carousel-control-next" type="button"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<!--Search Bar-->
<section>
    <div class="container mt-5 mb-2">
        <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-8">
                <h4 class="text-center">Search our collection of {{recipe_count}} recipes!</h4>
                <form method="GET" class="d-flex justify-content-center" action="{% url 'home' %}">
                    <i class="fa fa-search"></i><input type="text" class="search-bar" name="q"
                        placeholder="Recipe, Ingredient, Catagory...">
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'home/browse.html' %}
{% include 'home/recipe_grid.html' %}
{% endblock content %}