{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="profile-card p-3 py-4">
                <div class="text-center">
                    {% if "avatarplaceholder" in recipe.image.url %}
                    <img src="https://res.cloudinary.com/samuel-dainton/image/upload/v1656845904/chef_dvaqcl.png"
                        width="100" class="rounded-circle">
                    {% else %}
                    <img src="{{user.userprofile.avatar.url}}" width="100" class="rounded-circle">
                    {%endif%}
                </div>

                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">{{user.username}}</h5>

                    <div class="px-4 mt-1">
                        {% if 'bioplaceholder' %}
                        <p class="fonts">{{user.username}} hasn't written anything here yet.</p>
                        {% else %}
                        <p class="fonts">{{user.userprofile.bio}}</p>
                        {%endif%}
                    </div>
                    <div class="text-center mt-3">
                        {% if request.user == user %}
                        <a class="dropdown-item" href="{% url 'update-user' %}">Update Profile</a>
                        {%endif%} 
                    </div>
                    <div class="text-center mt-3">
                        {% if page_obj %}
                        <p class="fonts">Below you'll find all of {{user.username}}'s recipes.</p>
                        {%endif%} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if page_obj %}
{% include 'home/recipe-grid.html' %}
{%endif%}

{% endblock content %}