<section name="recipe-grid-section">
    <div class="album py-5 bg-light">
        <div class="container">
            <!--Recipe Grid-->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                <!--page_obj depends on the view, index uses all recipes, profile uses the users recipes-->

                {%if page_obj%}
                {% for recipe in page_obj %}
                <div class="col">
                    <div class="card recipe-card shadow-sm d-flex align-items-stretch align-self-stretch">
                        <!--Image half of the recipe card-->
                        <div class="card">
                            <a href="/recipe/{{recipe.title}}">
                                {% if "placeholder" in recipe.image.url %}
                                <img class="recipe-thumbnail card-img-top"
                                    alt="a placeholder image for the recipe featuring a table of ingredients"
                                    src="https://res.cloudinary.com/samuel-dainton/image/upload/v1656760672/gikczyzwxu8x8rtf9g3h.jpg">
                                {% else %}
                                <img class="recipe-thumbnail card-img-top"
                                    alt="a picture of the recipe as described by the title"
                                    src=" {{ recipe.image.url }}">
                                {% endif %}
                            </a>
                        </div>
                        <!--Text half of the recipe card-->
                        <div class="card-body d-flex flex-column">
                            <a href="/recipe/{{recipe.title}}" class="recipe-card-title">
                                <p class="card-text">{{recipe.title}}</p>
                            </a>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group mt-1">
                                    {% if request.user == recipe.author %}
                                    <a href="{% url 'update-recipe' recipe.title %}">
                                        <button type="button" class="btn btn-sm button-margin">Edit</button></a>
                                    <a href="{% url 'delete-recipe' recipe.title %}"><button type="button"
                                            class="btn btn-sm">Delete</button></a>
                                    {% else %}
                                    <small class="text-muted">Serves: {{recipe.servings}} |</small>
                                    <small class="text-muted">| Difficulty: {{recipe.difficulty}}</small>
                                    {% endif %}
                                </div>
                                <small class="text-muted">{{recipe.time}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {%else%}
                <div class="blank-search">
                    <h2>Sorry, your search did not return any results.</h2>
                    {%endif%}
                </div>
            </div>
            <!--Pagination-->
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a class="pagination-button" href="?page=1">&laquo; First |</a>
                            <a class="pagination-button" href="?page={{ page_obj.previous_page_number }}">Previous |</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                            <a class="pagination-button" href="?page={{ page_obj.next_page_number }}">| Next</a>
                            <a class="pagination-button" href="?page={{ page_obj.paginator.num_pages }}">| Last
                                &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>