{% extends 'base.html' %}

{% block content %}


<section>
    <div class="container shadow py-4 mt-3 recipe-intro-container">
        {% if request.user == recipe.author %}
        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                href="{% url 'update-recipe' recipe.title %}">Edit</a></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                href="{% url 'delete-recipe' recipe.title %}">Delete</a></button>
        {% endif %}
        <div class="row align-items-md-stretch">

            <div class="p-3">
                <div class="row">
                    <div class="mb-4 col-md">
                        {% if "placeholder" in recipe.image.url %}
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                        {% else %}
                        <img src=" {{ recipe.image.url }}" width="100%">
                        {% endif %}
                    </div>

                    <div class="mb-4 col-md">

                        <div>
                            <h3>{{recipe.title}}</h3>
                        </div>

                        <div>
                            <h5 class="text-muted">By <a href="{% url 'user-profile' recipe.author.id %}">{{recipe.author}}</a></h5>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-sm">
                                    <i class="fa-solid fa-clock"></i> Prep Time: {{recipe.prep_time}}
                                    <br>
                                    <i class="fa-regular fa-clock"></i></i> Cook Time: {{recipe.cook_time}}
                                </div>
                                <div class="col-sm">
                                    <i class="fa-solid fa-utensils"></i> Serves: {{recipe.servings}}
                                </div>
                                <div class="col-sm">
                                    <i class="fa-solid fa-list-check"></i> Difficulty: {{recipe.difficulty}}
                                </div>
                            </div>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Calories</th>
                                    <th scope="col">Fat</th>
                                    <th scope="col">Carbs</th>
                                    <th scope="col">Protein</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% if recipe.calories is not None %}
                                    <td>{{recipe.calories}}</td>
                                    {% else %}
                                    <td>Unspecified</td>
                                    {% endif %}
                                    {% if recipe.fat is not None %}
                                    <td>{{recipe.fat}}</td>
                                    {% else %}
                                    <td>Unspecified</td>
                                    {% endif %}
                                    {% if recipe.carbs is not None %}
                                    <td>{{recipe.carbs}}</td>
                                    {% else %}
                                    <td>Unspecified</td>
                                    {% endif %}
                                    {% if recipe.protein is not None %}
                                    <td>{{recipe.protein}}</td>
                                    {% else %}
                                    <td>Unspecified</td>
                                    {% endif %}
                                </tr>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <medium>Allergy Warnings {% for allergy in recipe.allergy_info.all %}
                        | {{allergy}}
                        {% endfor %}</medium>
                </div>

                {% if recipe.introduction is not None %}
                <div class="row mt-3 d-flex justify-content-center">
                    <div class="col-11 border">
                        {{recipe.introduction|safe}}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

<section>
    <div class="bg-light container shadow py-4 mt-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="h-100 p-5 rounded-3">
                    <h2>Method</h2>
                    {{recipe.method|safe}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 rounded-3">
                    <h2>Ingredients</h2>
                    {{recipe.ingredient|safe}}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5><u>Comments</u></h5>
            </div>
            {% if request.user.is_authenticated %}
            <p>
                <button class="btn btn-primary topic-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    + Leave A Comment
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" name="body"
                            placeholder="Write your comment here and press 'enter' to submit." class="comment-input">
                    </form>
                </div>
            </div>
            {% else %}
            <p>You'll need to
                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>/
                <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                to leave your own comments.</p>
            {% endif %}
            {% for comment in comments %}
            <div class="card comment-card p-3">

                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex flex-row align-items-center">

                        <img src="https://i.imgur.com/hczKIze.jpg" width="30"
                            class="comment-profile user-img rounded-circle mr-2">

                        <span>
                            <medium class="font-weight-bold text-primary"> {{comment.user}}: </medium>
                            <medium class="font-weight-bold">{{comment.body}}</medium>
                        </span>

                    </div>
                    <small class="comment-date">{{comment.created|timesince}} ago.</small>
                </div>

                <div class="action d-flex justify-content-between mt-2 align-items-center">

                    <div class="reply px-4">
                        {% if request.user == comment.user %}
                        <a href="{% url 'delete-comment' comment.id %}"
                            class="btn btn-primary topic-button btn-sm">Delete Comment</a>
                        {% endif %}
                    </div>

                    <div class="icons align-items-center">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-check-circle-o check-icon"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}