{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<!-- {{form|crispy}} -->


<section class="intro">
  <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
            background-image: url(/static/images/recipe.png);
          ">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center recipe-form-container">
          <div class="col-12 col-lg-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="card-body p-5">

                <h1 class="mb-5 text-center">Create Your Recipe</h1>

                <form method="POST" action="">
                  {{form.media}}
                  {% csrf_token %}
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Recipe Title*:</label>
                    {{form.title}}
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Topic(s)*:</label>
                    <div>
                      {% for topics in form.topic %}
                      <div class="radio-button d-inline p-2">
                        {{topics}}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Recipe Image:</label>
                    {{form.image}}
                  </div>

                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example1">Difficulty*:</label>
                        {{form.difficulty}}
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">Servings*:</label>
                        {{form.servings}}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example1">Prep Time (in minutes)*:</label>
                        {{form.prep_time}}
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">Cook Time (in minutes)*:</label>
                        {{form.cook_time}}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-md-3 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example1">Calories:</label>
                        {{form.calories}}
                      </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">Carbs:</label>
                        {{form.carbs}}
                      </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">Fat:</label>
                        {{form.fat}}
                      </div>
                    </div>
                    <div class="col-12 col-md-3 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">Protein:</label>
                        {{form.protein}}
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Allergy Warning(s)*:</label>
                    <div>
                      {% for allergens in form.allergy_info %}
                      <div class="radio-button d-inline p-2">
                        {{allergens}}
                      </div>
                      {% endfor %}
                    </div>
                  </div>


                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Introduction:</label>
                    <div>{{form.introduction}}</div>
                  </div>
                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Ingredients:</label>
                    <div>{{form.ingredient}}</div>
                  </div>
                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Method:</label>
                    <div>{{form.method}}</div>
                  </div>


                  <!-- Submit button -->
                  <div class="d-flex justify-content-center">
                    <button type="submit" value="Submit" class="btn btn-secondary btn-rounded btn-block">Submit
                      Recipe</button></div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}