p a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: ease-in-out .3s;
}

p a:hover {
    color: #00704a;
}

.btn {
    border: 1px solid rgba(49, 175, 180, 0.4);
}

button:hover {
    background-color: rgba(49, 175, 180, 0.4);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(0, 112, 75)!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 112, 75, .25);
}

#allauth-content {
    min-height: calc(100vh - 200px)
}

#allauth-content .form-group label {
    width: 100%;
    text-align: left !important;
}

.allauth-form-inner-content .text-center {
    margin-top: 2rem;
    margin-bottom: 3rem
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}