body {
    font-family: 'Alegreya', serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: rgba(49, 175, 180, 0.4);
  }


.navbar-brand {
    background: url("../images/logo_small.png") no-repeat;
    height: 5rem;
    width: 16.5rem;
}

.carousel-container {
    background-color: rgba(49, 175, 180, 0.4);
    margin-top: 4rem;
}

.carousel-item {
    height: 400px;
}

.carousel-caption {
    background-color: rgba(49, 175, 180, 0.6);
    border-radius: 5px;
}

.carousel-image-1 {
    background: url("/static/images/food-spread.png") no-repeat;
}

.carousel-image-2 {
    background: url("/static/images/crying-tiger-salad.png") no-repeat;
}

.carousel-image-3 {
    background: url("/static/images/baker.png") no-repeat;
}

.fa-search {
    margin: 1rem;
}

.search-bar {
    width: 80%;
    border: 2px solid #31AFB4;
}

.topic-button {
    background-color: #31AFB4;
    padding: 0.3rem;
    border-radius: 5px; 
}

.recipe-thumbnail {
    min-height: 15rem;
    object-fit: fill;
}

.recipe-info-card {
    min-height: 6.438rem;
}


/* Recipe Detail Page */

.recipe-intro-container {
    background-color: rgba(49, 175, 180, 0.4);
}

.comment-input {
    width: 100%;
}

.comment-card {
    margin-top: 1rem;
}

.comment-profile{
    margin-right: 0.5rem;
}

.comment-date {
    margin-left: 1rem;
}

/* Create Recipe Page */

.cke {
    width: 100% !important;
}

.recipe-form-container {
    margin-top: 3rem;
    margin-bottom: 3rem;    
}

.error-message {
    background-color: yellow;
}

/* Media Queries */

@media (max-width: 575px) {
    .carousel-container {
        margin-top: 0px;
    }
}

