{% extends 'base.html' %} {% block content %}

<h1 class="post-title">{{ recipe.title }}</h1>
<!-- Post author goes before the | the post's created date goes after -->
<p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_on }}</p>

<!-- The featured image URL goes in the src attribute -->
{% if "placeholder" in recipe.featured_image.url %}
<img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
{% else %}
<img src=" {{ recipe.featured_image.url }}" width="100%">
{% endif %}



<p class="card-text ">
    {{ recipe.method | safe }}
</p>

<strong class="text-secondary"><i class="far fa-heart"></i> {{ recipe.number_of_likes }} </strong>

{% with comments.count as total_comments %}
<strong class="text-secondary"><i class="far fa-comments"></i>
    <!-- Our total_comments variable goes before the closing strong tag -->
    {{ total_comments }}</strong>
{% endwith %}

<!-- Comments Section -->

<h3>Comments:</h3>

{% for comment in comments %}
<div class="comments" style="padding: 10px;">
    <p class="font-weight-bold">
        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
        {{ comment.name }}
        <span class=" text-muted font-weight-normal">
            <!-- The comment's created date goes here -->
            {{ comment.created_on }}
        </span> wrote:
    </p>
    <!-- The body of the comment goes before the | -->
    {{ comment.body | linebreaks }}
</div>
<!-- Our for loop ends here -->
{% endfor %}



{% endblock content %}